<div class="container">
  <h1>Gerador de Senhas</h1>
  <a class="btn btn-primary" href="<%= priority_senhas_path %>">Prioridade</a>
  <a class="btn btn-secondary" href="<%= normal_senhas_path %>">Consulta Normal</a>
</div>
